//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ../../include/var.pug

//- local var
- var title = '私達はデストロイヤー';
- var ogpurl = '../../img/jacket/we_are_destroyer.jpg';
- var mainimage = '../../img/jacket/we_are_destroyer.jpg';
- var releasedate = '2017/01/22 Release';
- var event = '#';

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ../../include/head.pug
body#fadein
  div.ui.two.column.stackable.grid
    div.middle.aligned.two.column.row
      div.column
        div.segment
          img(src=mainimage).ui.image.fluid
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span #{title}
              div.meta
                span #{releasedate}
              div.description
                span 14駆紙ジャケが目印の疾走系ロックンロールアレンジEPです。初プレス
        div.ui.divider
        div.ui.items
          div.item
            div.content
              div.header
                span TrackList
              div.description
                div.ui.relaxed.divided.list
                  div.item
                    div.content
                      div.header 1. Nya-shie
                      div.description 睦月型駆逐艦の戦い アレンジ
                  div.item
                    div.content
                      div.header 2. 冬の風に舞って
                      div.description 冬の抜錨 アレンジ
                  div.item
                    div.content
                      div.header 3. 脈動
                      div.description 飛龍の反撃 アレンジ
                  div.item
                    div.content
                      div.header 4. わたしはデストロイヤー
                      div.description 次発装填、再突入！ アレンジ
                  div.item
                    div.content
                      div.header 5. Echo end
                      div.description 吹雪、出撃す！ アレンジ
        div.ui.divider
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Sample
              div.description
                .
                  <iframe width="300" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/300341060&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Information
              div.description
                h5 価格
                p 500円
                h5 製品仕様
                p プレスCD、紙ジャケット) 
                h5 頒布イベント
                a(href="http://maekawasdf.wix.com/kancolle" target="_blank") 砲雷撃戦！よーい！28 にて頒布
                h5 委託先ショップ
                p BoothにてDL頒布中
                h5 購入
                div(tabindex="0").ui.blue.ertical.animated.button
                  div.hidden.content
                    a(href="https://icenomi.booth.pm/items/417997") 楽曲無料
                  div.visible.content
                    i.shop.icon
        div.ui.divider

  //- footer
  include ../../include/footer.pug
