//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ../../include/var.pug

//- local var
- var title = 'Grasp the Worlds End';
- var ogpurl = '../../img/jacket/grasp_the_worlds_end.jpg';
- var mainimage = '../../img/jacket/grasp_the_worlds_end.jpg';
- var releasedate = '2015/08/15 Release';
- var event = '#';

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ../../include/head.pug
body#fadein
  div.ui.two.column.stackable.grid
    div.middle.aligned.two.column.row
      div.column
        div.segment
          img(src=mainimage).ui.image.fluid
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span #{title}
              div.meta
                span #{releasedate}
              div.description
                span フリーペーパーで頒布した伝説的な無料配布アルバム！！今でも無料でダウンロードできます！
        div.ui.divider
        div.ui.items
          div.item
            div.content
              div.header
                span TrackList
              div.description
                div.ui.relaxed.divided.list
                  div.item
                    div.content
                      div.header 1. じゅーろっく！！
                  div.item
                    div.content
                      div.header 2. ストレスゲームボール(Grasp_ver)
                  div.item
                    div.content
                      div.header 3. アンダーグラウンド
                  div.item
                    div.content
                      div.header 4. REFUSE
                  div.item
                    div.content
                      div.header 5. Grasp
                  div.item
                    div.content
                      div.header 6. 一期一会
                  div.item
                    div.content
                      div.header 7. 透明
                  div.item
                    div.content
                      div.header 8. ラストナンバー
                  div.item
                    div.content
                      div.header 9.	Rock'n Roll Deadline 2015
        div.ui.divider
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Sample
              div.description
                .
                  <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/218920427&color=%23160f15&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/asnomi_studio" title="asnomi studio" target="_blank" style="color: #cccccc; text-decoration: none;">asnomi studio</a> · <a href="https://soundcloud.com/asnomi_studio/c88grasp-the-worlds-end-xfd" title="【C88】Grasp the world&#x27;s end XFD" target="_blank" style="color: #cccccc; text-decoration: none;">【C88】Grasp the world&#x27;s end XFD</a></div>
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Information
              div.description
                h5 価格
                p 無料
                h5 製品仕様
                p ダウンロードのみ
                h5 頒布イベント
                a(href="http://www.comiket.co.jp/" target="_blank") コミックマーケット88初日にて頒布
                h5 委託先ショップ
                p BoothにてDL頒布中
                h5 購入
                div(tabindex="0").ui.blue.ertical.animated.button
                  div.hidden.content
                    a(href="https://icenomi.booth.pm/items/166573") Go
                  div.visible.content
                    i.shop.icon
        div.ui.divider

  //- footer
  include ../../include/footer.pug
