//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ./include/var.pug

//- local var
- var title = 'モノトーンランドスケープ EP';
- var ogpurl = 'https://s3-ap-northeast-1.amazonaws.com/dev.asnomi.com/img/jacket/monotone_landscape.jpg';
- var mainimage = 'https://s3-ap-northeast-1.amazonaws.com/dev.asnomi.com/img/jacket/monotone_landscape.jpg';
- var releasedate = '2020/4/10 Release';
- var event = m3url;
- var eventtext = 'M3にて頒布';
- var specification = 'ituensやspotifyなど各社でストリーミング配信（規格や値段は配信サイトによる）';

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ./include/head.pug
body#fadein
  div.entrance_top
    div.ui.vertical.masthead.center.aligned.segment
      div.ui.container
        //- nav
        include ./include/nav.pug

  div.ui.two.column.stackable.grid
    div.middle.aligned.two.column.row
      div.column
        div.segment
          img(src=mainimage).ui.image.fluid
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span #{title}
              div.meta
                span #{releasedate}
              div.description
                span ハロー、ハロー。　独り言。涼し気な顔して
                |  「アリスのあしあと」第2部1章；モノトーンランドスケープ EPがApple Musicなどで配信されました。
        div.ui.divider
        div.ui.items
          div.item
            div.content
              div.header
                span TrackList
              div.description
                div.ui.relaxed.divided.list
                  div.item
                    div.content
                      div.header 1. 見えない。
                  div.item
                    div.content
                      div.header 2. Parallel World
                  div.item
                    div.content
                      div.header 3. 雨底
                  div.item
                    div.content
                      div.header 4. モノトーンランドスケープ
                  div.item
                    div.content
                      div.header 5. ハローハロー
        div.ui.divider
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Sample
              div.description
              .
                <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/767673346&color=%23bb9b7b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/xm_igr" title="asnomi studio" target="_blank" style="color: #cccccc; text-decoration: none;">asnomi studio</a> · <a href="https://soundcloud.com/xm_igr/m3-2020spring-xfd-monotonelandscape" title="M3 2020spring Xfd Monotonelandscape" target="_blank" style="color: #cccccc; text-decoration: none;">M3 2020spring Xfd Monotonelandscape</a></div>
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Information
              div.description
                h5 価格
                p 配信サイトによります。ストリーミング配信サイトの場合は無料です。
                p Conca版は500円です。
                h5 配信形式
                p mp3/wav ※配信サイトによります。
                h5 委託先ショップ
                p 本、Concaともに現在委託しておりません。下記ストリーミング配信をご利用ください。
                h5 購入
                div(tabindex="0").ui.blue.ertical.animated.button
                  div.hidden.content
                    a(href="https://linkco.re/73aYmfFR") 配信先
                  div.visible.content
                    i.shop.icon
        div.ui.divider
  //- footer
  div.ui.inverted.vertical.footer.segment
    div.ui.container
      div.column
        include ./include/footer.pug

