//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ../../include/var.pug

//- local var
- var title = 'Closing me.';
- var ogpurl = '../../img/jacket/closing_me.jpg';
- var mainimage = '../../img/jacket/closing_me.jpg';
- var subtext = '東北産バニラ麺 合同誌第3弾。';
- var guidetext = '2018年は「変化 予兆 終幕」がテーマの変わりたい/変わってしまった人物の短編集。';
- var releasedate = '2018/11/25 Release';
- var event = comitiaurl;

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ../../include/head.pug
body#fadein
  div.ui.two.column.stackable.grid
    div.middle.aligned.two.column.row
      div.column
        div.segment
          img(src=mainimage).ui.image.fluid
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span #{title}
              div.meta
                span #{releasedate}
              div.description
                span 東北産バニラ麺 合同誌第3弾。
                |  2018年は「変化 予兆 終幕」がテーマの変わりたい/変わってしまった人物の短編集
        div.ui.divider
        div.ui.items
          div.item
            div.content
              div.header
                span 収録作品
              div.description
                div.ui.relaxed.divided.list
                  div.item
                    div.content
                      div.header if('想い'!=
                      div.description しゅう鮭
                  div.item
                    div.content
                      div.header 2. 今日の一言
                      div.description ねこころ
                  div.item
                    div.content
                      div.header 3. Hack me.
                      div.description あすのみ
        div.ui.divider
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Sample
              div.description
                a(href="../../img/sample/im_b17_02.jpg" data-fancybox data-caption="tia126")
                  img(src="../../img/sample/im_b17_02.jpg" alt="2"  width="130")
                a(href="../img/sample/im_b17_03.jpg" data-fancybox data-caption="tia126")
                  img(src="../../img/sample/im_b17_03.jpg" alt="3"  width="130")
                a(href="../img/sample/im_b17_04.jpg" data-fancybox data-caption="tia126")
                  img(src="../../img/sample/im_b17_04.jpg" alt="4"  width="130")
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Information
              div.description
                h5 価格
                p 500円。
                h5 製品仕様
                p B5、32p
                h5 頒布イベント
                a(href=event target="_blank") コミティア126
                h5 委託先ショップ
                p 本は現在委託しておりません、お問合せください。
                h5 購入
        div.ui.divider

  //- footer
  include ../../include/footer.pug

