//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ../../include/var.pug

//- local var
- var title = 'unreal';
- var ogpurl = '../../img/jacket/unreal.jpg';
- var mainimage = '../../img/jacket/unreal.jpg';
- var releasedate = '2016/05/08 Release';
- var event = '#';

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ../../include/head.pug
body#fadein
  div.ui.two.column.stackable.grid
    div.middle.aligned.two.column.row
      div.column
        div.segment
          img(src=mainimage).ui.image.fluid
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span #{title}
              div.meta
                span #{releasedate}
              div.description
                span かわいい16駆が目印の艦これBGMロックンロールアレンジです。
        div.ui.divider
        div.ui.items
          div.item
            div.content
              div.header
                span TrackList
              div.description
                div.ui.relaxed.divided.list
                  div.item
                    div.content
                      div.header 1. 非現実鎮守府ライフ
                      div.description 母港 アレンジ
                  div.item
                    div.content
                      div.header 2. Blue Daytime
                      div.description 出撃、昼戦、工廠 アレンジ
                  div.item
                    div.content
                      div.header 3. 海の中から
                      div.description 海上護衛戦 アレンジ
                  div.item
                    div.content
                      div.header 4. 雨音の鎮守府2016
                      div.description 雨音の鎮守府 アレンジ
                  div.item
                    div.content
                      div.header 5. アイアンボトムサウンド
                      div.description 全艦娘、突撃！ アレンジ
                  div.item
                    div.content
                      div.header 6. MaydayDance
                      div.description 決戦！鉄底海峡を抜けて アレンジ
                  div.item
                    div.content
                      div.header 7. 夜色
                      div.description 海上輸送作戦、待ち伏せの夜戦 アレンジ
        div.ui.divider
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Sample
              div.description
                .
                  <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/261681380&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/asnomi_studio" title="asnomi studio" target="_blank" style="color: #cccccc; text-decoration: none;">asnomi studio</a> · <a href="https://soundcloud.com/asnomi_studio/25xfd_unreal" title="【砲雷25】艦これアレンジアルバムXFD_unreal." target="_blank" style="color: #cccccc; text-decoration: none;">【砲雷25】艦これアレンジアルバムXFD_unreal.</a></div>
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Information
              div.description
                h5 価格
                p 500円
                h5 製品仕様
                p プレスCD、紙ジャケット) 
                h5 頒布イベント
                a(href="http://maekawasdf.wix.com/kancolle" target="_blank") 砲雷撃戦！よーい！25 にて頒布
                h5 委託先ショップ
                p BoothにてDL頒布中
                h5 購入
                div(tabindex="0").ui.blue.ertical.animated.button
                  div.hidden.content
                    a(href="https://icenomi.booth.pm/items/248681") Go
                  div.visible.content
                    i.shop.icon
        div.ui.divider

  //- footer
  include ../../include/footer.pug
