//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ../../include/var.pug

//- local var
- var title = 'アリスのあしあと Archive2; モノトーンランドスケープ';
- var ogpurl = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/alice_footstep2.jpg';
- var mainimage = 'https://s3-ap-northeast-1.amazonaws.com/asnomi.com/img/jacket/alice_footstep2.jpg';
- var releasedate = '2019/10/2 Release';
- var event = m3url;

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ../../include/head.pug
body#fadein
  div.ui.two.column.stackable.grid
    div.middle.aligned.two.column.row
      div.column
        div.segment
          img(src=mainimage).ui.image.fluid
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span #{title}
              div.meta
                span #{releasedate}
              div.description
                span 「願っているこの先の色彩を。」
                |  イラストと楽曲で表現する退廃的世界観「アリスのあしあと」第2部1章。
        div.ui.divider
        div.ui.items
          div.item
            div.content
              div.header
                span TrackList
              div.description
                div.ui.relaxed.divided.list
                  div.item
                    div.content
                      div.header 1. 見えない。
                  div.item
                    div.content
                      div.header 2. Parallel World
                  div.item
                    div.content
                      div.header 3. 雨底
                  div.item
                    div.content
                      div.header 4. モノトーンランドスケープ
                  div.item
                    div.content
                      div.header 5. ハローハロー
        div.ui.divider
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Sample
              div.description
                iframe(width="560" height="315" src="https://www.youtube.com/embed/kHz0OL8RRcY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Information
              div.description
                h5 価格
                p 1000円
                h5 製品仕様
                p B5変形（スクエア）フルカラー、28p、1000円、イメージソング5曲
                h5 頒布イベント
                a(href=event) M3
                h5 委託先ショップ
                p 現在委託しておりません。下記ストリーミング配信をご利用頂くか、お問合せください。
                h5 購入
                div(tabindex="0").ui.blue.ertical.animated.button
                  div.hidden.content
                    a(href="https://linkco.re/73aYmfFR") 配信先
                  div.visible.content
                    i.shop.icon
        div.ui.divider

  //- footer
  include ../../include/footer.pug

