//- --------------------------------------------------------------------------------------
//- discography
//- Coded by Pug

//- Include modules
  - var.pug
  - head.pug
  - nav.pug
  - footer.pug

//- global var
include ../../include/var.pug

//- local var
- var title = 'Reloaded Remastered';
- var ogpurl = '../../dev.asnomi.com/img/jacket/reloaded_remaster.jpg';
- var mainimage = '../../img/jacket/reloaded_remaster.jpg';
- var releasedate = '2020/11/10 Release';
- var event = '#';

//- functions

//- --------------------------------------------------------------------------------------


//- header
include ../../include/head.pug
body#fadein
  div.ui.two.column.stackable.grid
    div.middle.aligned.two.column.row
      div.column
        div.segment
          img(src=mainimage).ui.image.fluid
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span #{title}
              div.meta
                span #{releasedate}
              div.description
                span 「ねぇ、誰が作る未来なの？」
                |  2017年に頒布した「Reloaded」のリマスターエディションがサイレントリリース！
        div.ui.divider
        div.ui.items
          div.item
            div.content
              div.header
                span TrackList
              div.description
                div.ui.relaxed.divided.list
                  div.item
                    div.content
                      div.header 1. Reloaded
                      div.description 小説「Dropout Reloaded」テーマソング
                  div.item
                    div.content
                      div.header 2. Dropout After
                  div.item
                    div.content
                      div.header 3. Photograph Remind
        div.ui.divider
      div.column
      div.column
        div.ui.items
          div.item
            div.content
              div.header
                span Information
              div.description
                h5 価格
                p 配信サイトによります。ストリーミング配信サイトの場合は無料です。
                h5 製品仕様
                p mp3/wav ※配信サイトによります。
                h5 頒布イベント
                p イベント頒布無し
                h5 購入
                div(tabindex="0").ui.blue.ertical.animated.button
                  div.hidden.content
                    a(href="https://linkco.re/G52XV4xZ") 配信先
                  div.visible.content
                    i.shop.icon
        div.ui.divider

  //- footer
  include ../../include/footer.pug
