div.ui.vertical.segment.inverted
  div.ui.container
    div.ui.stackable.divided.equal.height.stackable.grid
      div.middle.aligned.three.column.row
        div.column
          h5 あすのみ
          p 作曲する絵描き。
        div.column
          p
            | ふわふわした淡いキャラクター・涼し気な孤独感を身に纏うイラスト、情景豊かな楽曲による唯一無二のグルーブ感を演出します。
            br
            | 依頼はメールか各SNSから
        div.column
          div.extra
            a(href="http://twitter.com/xm_igra3" target="_blank").ui.label
              i.twitter.icon Twitter
            a(href="https://www.pixiv.net/users/1591078" target="_blank").ui.label Pixiv
            a(href="https://note.com/asnomi" target="_blank").ui.label Note
            a(href="https://soundcloud.com/xm_igr" target="_blank").ui.label
              i.soundcloud.icon SoundCloud
            a(href="https://www.youtube.com/channel/UCdLmvCWCcVCvQcjZ9hBX5VQ" target="_blank").ui.label
              i.youtube.icon Youtube
            a(href="https://xm-igr.tumblr.com/" target="_blank").ui.label
              i.tumblr.icon Tumblr
  
div.ui.vertical.footer.segment.inverted
  div.ui.container
    //- nav
    
    footer.text-center
      a(href=home target="_blank") 
        h5 (C) 2012-2021 asnomi studio | asnomi.com@gmail.com
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js")