div.ui.large.secondary.menu
  a(href=home).header.item
    img(src="./favicon.ico" alt="favicon" width="30px")
  a(href="../biography.html").item Biography
  a(href="../discography.html").item Discography
